* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background: white;
  color: black;
  -webkit-font-smoothing: antialiased;
}

body,
input,
button {
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
}

button {
  cursor: pointer;
}
nav {
  display: flex;
  flex-direction: row;
  background: grey;
  color: black;
  justify-content: space-between;
  margin-bottom: 10px;
}
.board {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 2rem;
  height: 75vh;
}
.todo {
  width: 250px;
  height: auto;
  background: red;
}
.doing {
  width: 250px;
  height: auto;
  background: yellow;
}
.done {
  width: 250px;
  height: auto;
  background: green;
}
.boardactions {
  width: 100%;
  padding: 10px;
  background: grey;
}
.button {
  background: yellowgreen;
  padding: 20px;
  border: none;
}
/*TASK STYLING*/
.tasklist {
  margin: 0;
  padding: 0;
}
.header {
  text-transform: uppercase;
  text-align: center;
  text-decoration: underline;
  border: black 1px solid;
}
.task {
  list-style: none;
  padding: 2%;
  text-transform: uppercase;
  border: black 1px solid;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
